In [1]:
import os
import pandas as pd

In [2]:
data_22_23_summer_transfers = pd.read_csv('2022_2023_football_summer_transfers.csv', sep = ',')

In [3]:
data_22_23_summer_transfers

,name,position,age,market_value,country_from,league_from,club_from,country_to,league_to,club_to,fee
0,Erling Haaland,Centre-Forward,21,150,Germany,Bundesliga,Borussia Dortmund,England,Premier League,Manchester City,60
1,Antony,Right Winger,22,35,Netherlands,Eredivisie,Ajax Amsterdam,England,Premier League,Manchester United,95
2,Wesley Fofana,Centre-Back,21,40,England,Premier League,Leicester City,England,Premier League,Chelsea FC,80
3,Aurélien Tchouameni,Defensive Midfield,22,60,Monaco,Ligue 1,AS Monaco,Spain,LaLiga,Real Madrid,80
4,Darwin Núñez,Centre-Forward,23,55,Portugal,Liga Portugal,SL Benfica,England,Premier League,Liverpool FC,75
...,...,...,...,...,...,...,...,...,...,...,...
1995,Gil Alcalá,Goalkeeper,29,1,Mexico,Liga MX Apertura,Club Tijuana,Mexico,Liga MX Apertura,UNAM Pumas,?
1996,Tim Skarke,Right Winger,25,1,Germany,2. Bundesliga,SV Darmstadt 98,Germany,Bundesliga,1.FC Union Berlin,free transfer
1997,César Huerta,Centre-Forward,21,1,Mexico,Liga MX Apertura,Deportivo Guadalajara,Mexico,Liga MX Apertura,UNAM Pumas,free transfer
1998,Paul Iacob,Centre-Back,26,1,Romania,SuperLiga,AFC Chindia Targoviste,Romania,SuperLiga,FC Rapid 1923,free transfer
1999,Vaclav Jurecka,Centre-Forward,28,1,Czech Republic,Fortuna Liga,1.FC Slovacko,Czech Republic,Fortuna Liga,SK Slavia Prague,free transfer

In [ ]:
##################About data#########################33
#name --- player’s name
#position --- player’s position
#age --- player’s age
#market_value ---player’s market value (mln euros)
#country_from ---country that player was playing
#league_from --- league that player was playing
#club_from --- club that player was playing
#country_to --- country that player will play
#league_to --- league that player will play
#club_to --- club that player will play
#fee --- how much club paid for that player (mln euros)
#loan --- is that transfer loan? True if yes.

In [ ]:
#Data Validation

In [6]:
#Check if feilds have any null values
data_22_23_summer_transfers.isnull()

,name,position,age,market_value,country_from,league_from,club_from,country_to,league_to,club_to,fee
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False,False
1996,False,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False,False,False,False

In [7]:
#check individual columns
data_22_23_summer_transfers['name'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Name: name, Length: 2000, dtype: bool

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Name: name, Length: 2000, dtype: bool